.gradient-button {
    background: linear-gradient(45deg, #ff6b6b, #f06595, #cc5de8, #845ef7, #5c7cfa, #339af0, #22b8cf, #20c997, #51cf66, #94d82d, #fcc419, #ff922b);
    background-size: 300% 300%;
    border: none;
    color: white;
    /* padding: 10px 40px; */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    transition: background-position 0.5s ease;
}

.gradient-button:hover {
    background-position: right center;
}